/* importing font mentioned in style guide */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Declaring css variables */
:root {
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grey-blue: hsl(224, 30%, 27%);
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  color: white;
}

.result-main {
  display: flex;
  height: 350px;
  background-color: white;
  filter: drop-shadow(0 66px 50px rgb(0 0 0 / 0.2));
  border-radius: 24px;
}

.result-summary {
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  height: 100%;
  width: 250px;
  border-radius: 24px;
}

.result-summary-heading {
  color: var(--light-lavender);
  text-align: center;
  margin-block: 1.5rem;
}

.summary-circle {
  text-align: center;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-circle-main-content {
  font-size: 2.5rem;
}

.summary-circle-subtext {
  font-size: 12px;
  color: var(--light-lavender);
}

.summary-score {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-block: 10px;
}

.summary-comment {
  text-align: center;
  margin: auto;
  margin-block: 10px;
  width: 75%;
  font-size: 14px;
  color: var(--light-lavender);
}

.result-stats {
  height: 100%;
  width: 250px;
  padding: 1.5rem;
}

.stats-heading {
  color: var(--dark-grey-blue);
  font-size: 18px;
  font-weight: 700;
}

.stats-cards {
  display: grid;
  gap: 12px;
  margin-top: 1rem;
}

.stats-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  opacity: 10;
}

.reaction-card {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: var(--light-red);
}

.memory-card {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: var(--orangey-yellow);
}

.verbal-card {
  color: var(--green-teal);
  background-color: hsla(166, 100%, 37%, 0.1);
}

.visual-card {
  color: var(--persian-blue);
  background-color: hsla(241, 72%, 46%, 0.1);
}

.stats-card-icon {
  margin-right: 8px;
}

.stats-card-icon img {
  display: block;
}

.stats-card-name {
  color: inherit;
  flex: 1;
}

.stats-card-score {
  color: hsla(224, 30%, 27%, 0.5);
  font-weight: 700;
}

.stats-card-score span {
  color: var(--dark-grey-blue);
}

.continue-button {
  width: 100%;
  border-radius: 100vw;
  background-color: var(--dark-grey-blue);
  color: inherit;
  padding: 0.5rem;
  margin-top: 1.5rem;
}

/* Mobile screen styles  */
@media (max-width: 768px) {
  .result-main {
    flex-direction: column;
  }
}
